body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url('img/bbb.jpg')
    no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.card {
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.7), rgba(34, 34, 34, 0.85));
  border: 2px solid #00ffc8;
  border-radius: 20px;
  padding: 30px 25px;
  text-align: center;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 0 25px rgba(0, 255, 200, 0.3);
  backdrop-filter: blur(6px);
  animation: slideUp 1s ease-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  font-size: 1.8rem;
  color: #00ffc8;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

h4 {
  color: #ffde59;
  margin-top: 0;
  font-weight: 500;
}

.subs {
  color: #ccc;
  margin-bottom: 10px;
}

.divider {
  width: 60px;
  height: 3px;
  background: #00ffc8;
  margin: 10px auto 20px;
  border-radius: 3px;
}

.text {
  font-size: 1rem;
  color: #ffde59;
  margin-bottom: 10px;
}

.timer {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

button {
  background: #00ffc8;
  color: black;
  border: none;
  padding: 14px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

button:hover {
  background: #00b38f;
  transform: scale(1.05);
}

.disclaimer {
  margin-top: 25px;
  font-size: 0.2rem;
  color: #d3d3d3;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .card {
    padding: 25px 20px;
  }

  h2 {
    font-size: 1.5rem;
  }

  button {
    padding: 12px 25px;
    font-size: 1.5rem;
  }
}
